<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardInfoMapper">
    <select id="getBoardList" resultType="com.example.demo.domain.BoardInfoDTO">
      SELECT board_info_idx, board_info_name
        FROM BOARD_INFO_TABLE
	</select>

    <select id="getUserCount" resultType="int">
      SELECT COUNT(*)
        FROM USER_TABLE
       WHERE USER_ID = #{userId}
	</select>

    <select id="getUserId" resultType="com.example.demo.domain.UserInfoDTO">
      SELECT USER_IDX, USER_NAME, USER_ID
        FROM USER_TABLE
       WHERE USER_ID = #{userId}
         AND USER_PW = #{userPw}
	</select>

    <update id="updateUserInfo">
        UPDATE USER_TABLE
           SET USER_ID = #{userId},
               USER_PW = #{userPw}
         WHERE USER_ID = #{userId}
    </update>

    <insert id="register">
        INSERT INTO USER_TABLE(USER_NAME, USER_ID, USER_PW)
             VALUES (#{userName}, #{userId}, #{userPw})
    </insert>

    <select id="getBoardNameLIst" resultType="com.example.demo.domain.BoardInfoDTO">
      SELECT BOARD_INFO_NAME
        FROM BOARD_INFO_TABLE
       WHERE BOARD_INFO_IDX = #{boardInfoIdx}
	</select>

    <select id="getBoardContentList" resultType="com.example.demo.domain.BoardContentForList">
        <![CDATA[
            SELECT P2.*
                FROM (
                      SELECT P1.*
                        FROM (
                              SELECT T1.CONTENT_IDX, T1.CONTENT_SUBJECT,
                                     DATE_FORMAT(T1.CONTENT_DATE, '%Y%m%d') AS CONTENT_DATE,
                                     T2.USER_NAME
                                FROM CONTENT_TABLE T1
                                    ,USER_TABLE T2
                               WHERE T1.CONTENT_WRITER_IDX = T2.USER_IDX
                                 AND T1.CONTENT_BOARD_IDX = #{boardInfoIdx}
                            ORDER BY T1.CONTENT_IDX
                      ) P1
                ) P2
        ]]>
	</select>

    <select id="getTotalBoardContentCount" resultType="int">
        SELECT COUNT(*) AS TOTAL
          FROM CONTENT_TABLE
         WHERE CONTENT_BOARD_IDX = #{boardInfoIdx}
	</select>


    <insert id="BoardContentRegister">
        INSERT INTO CONTENT_TABLE (CONTENT_SUBJECT, CONTENT_TEXT,CONTENT_WRITER_IDX,
                                   CONTENT_BOARD_IDX, CONTENT_DATE, ORIGINAL_FILE_NAME, STORED_FILE_PATH, FILE_SIZE, IMAGE_URL)
            VALUES (#{boardSubject}, #{boardContent},#{boardWriterIdx},
                    #{contentBoardIdx}, SYSDATE(), #{originalFileName},#{storedFilePath},#{fileSize}, #{imageUrl})
    </insert>


    <select id="getBoardContent" resultType="com.example.demo.domain.BoardContentDetail">
      SELECT T1.CONTENT_IDX
            ,T1.CONTENT_SUBJECT
            ,T1.CONTENT_TEXT
            ,T1.CONTENT_WRITER_IDX
            ,T2.USER_NAME
            ,DATE_FORMAT(T1.CONTENT_DATE, '%Y%m%d') AS CONTENT_DATE
            ,T1.IMAGE_URL
        FROM CONTENT_TABLE T1
            ,USER_TABLE    T2
       WHERE T1.CONTENT_WRITER_IDX = T2.USER_IDX
         AND T1.CONTENT_IDX = #{contentIdx}
	</select>

    <select id="getCurrentVal" resultType="string">
        SELECT IFNULL(MAX(CONTENT_IDX), 0) AS CURVAL
          FROM CONTENT_TABLE
	</select>

    <update id="modifyBoardContent">
        update content_table
           set content_subject = #{contentSubject},
               content_text    = #{contentText}
         WHERE CONTENT_IDX     = #{contentIdx}
    </update>

    <delete id="deleteBoardContent">
		delete from CONTENT_TABLE
		      where CONTENT_IDX = #{contentIdx}
	</delete>

    <select id="get_top_board_list" resultType="com.example.demo.domain.BoardContentForList">
        <![CDATA[
            SELECT P2.*
                FROM (
                      SELECT P1.*
                        FROM (
                              SELECT T1.CONTENT_IDX, T1.CONTENT_SUBJECT,
                                     DATE_FORMAT(T1.CONTENT_DATE, '%Y%m%d') AS CONTENT_DATE,
                                     T2.USER_NAME
                                FROM CONTENT_TABLE T1
                                    ,USER_TABLE T2
                               WHERE T1.CONTENT_WRITER_IDX = T2.USER_IDX
                                 AND T1.CONTENT_BOARD_IDX = #{boardInfoIdx}
                            ORDER BY T1.CONTENT_IDX
                      ) P1
                ) P2
                LIMIT 5 OFFSET 0
        ]]>
	</select>

</mapper>